.editContainer {
  height: 80%;
  width: 120vmin;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: rgba(29, 29, 29, 0.657);
  border: 5px solid rgba(56, 56, 56, 0.644);
  border-radius: 10px;
}

.editContainer input {
  width: 20%;
}
.editContainer select {
  width: 90%;
}

.editContainer input,
select {
  text-align: center;
  font-size: 6vmin;
  background-color: rgba(15, 161, 129, 0.822);
  cursor: pointer;
  border: none;
  border-radius: 7px;
  transition: all 0.3s;
}

.editContainer input:hover,
select:hover {
  background-color: rgb(15, 161, 130);
}

.rowsContainer {
  height: 65%;
  width: 90%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.buttonsRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px;
  font-size: 22px;
}

.buttonsRow button {
  padding: 5px 8px 5px 8px;
}

.editMiniScreen {
  height: 70%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  color: rgb(0, 255, 242);
  background-color: rgb(14, 13, 13);
  font-family: "DS-Digital", sans-serif;
  border: 5px groove grey;
  border-radius: 10px;
  padding: 0 10px 0 10px;
}

.editSpace {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.preset1 {
  background-color: rgb(14, 13, 13);
  transition: all 0.3s;
}

.preset1:hover {
  background-color: #ffffff;
  color: rgb(14, 13, 13);
}

.preset2 {
  background-color: #ffffff;
  color: rgb(14, 13, 13);
  border-radius: 0 0 40% 0;
  transition: all 0.3s;
}

.preset2:hover {
  background-color: rgb(14, 13, 13);
  color: #ffffff;
}

.saveSet {
  border-radius: 0 0 0 40%;
  background-color: rgba(47, 110, 228, 0.719);
    transition: all 0.3s;
}

.saveSet:hover {
  background-color: rgb(47, 110, 228);
}

.add {
  background-color: rgba(177, 0, 118, 0.739);
  transition: all 0.3s;
}

.add:hover {
  background-color: rgb(177, 0, 118);
}