.launchpadContainer {
  height: 80%;
  width: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: rgba(29, 29, 29, 0.657);
  border-radius: 10px;
  border: 5px solid rgba(56, 56, 56, 0.644);
}

.padsContainer {
  height: 65%;
  width: 97%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.switch {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  align-self: flex-start;
  margin: 5px;
}

.on {
  background-color: rgb(119, 207, 119);
  transition: all 0.3s;
}

.off {
  background-color: rgb(177, 57, 57);
  transition: all 0.3s;
}

.miniScreen {
  color: rgb(0, 255, 242);
  background-color: rgb(14, 13, 13);
  font-family: 'Minecraft', sans-serif;
  border: 5px groove grey;
  border-radius: 10px;
}

.soundName {
  height: 50px;
  width: 250px;
  font-size: 20px;
}

.volume {
  height: 24px;
  width: 60px;
  font-size: 15px;
}