* {
  padding: 0;
  margin: 0;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.page {
  height: 100vh;
  width: 100vw;
  background-image: url("./assets/liveConcert.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 25px;
  color: #ffffff;
  font-family: 'Staatliches', cursive;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

button {
  display: inline-block;
  border: none;
  /* padding: 1rem 2rem; */
  /* margin: 0; */
  text-decoration: none;
  /* background: #0069ed; */
  color: #ffffff;
  /* font-family: sans-serif;
  font-size: 1rem; */
  cursor: pointer;
  /* text-align: center; */
  /* transition: background 250ms ease-in-out, transform 150ms ease; */
  /* -webkit-appearance: none;
  -moz-appearance: none; */
}


button:focus {
  outline: none;
}

button:active {
  box-shadow: none
}

/* .flexColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

input[type=range]{
  -webkit-appearance: none;
  margin-bottom: 15px;
  cursor: pointer;
  width: 50%;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 30px;
  width: 30px;
  border-radius: 10px;
  background: rgb(238, 68, 68);
  margin-top: -13px;
}

input[type=range]:focus {
  outline: none;
}

/* input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgb(87, 85, 85);
  border-radius: 5px;
} */