* {
  padding: 0;
  margin: 0;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.page {
  height: 100vh;
  width: 100vw;
  background-image: url("./assets/liveConcert.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  /* font-size: 3vmin; */
  color: #ffffff;
  font-family: "Staatliches", cursive;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

button {
  display: inline-block;
  border: none;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  margin: 0;
}

button:focus {
  outline: none;
}

button:active {
  box-shadow: none;
}

input,
select {
  color: #ffffff;
}

input[type="range"] {
  -webkit-appearance: none;
  margin-bottom: 15px;
  cursor: pointer;
  width: 50%;
  border-radius: 20px;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 7px;
  background: #ddd;
  border: none;
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 35px;
  width: 35px;
  border-radius: 7px;
  background: rgb(238, 68, 68);
  margin-top: -14px;
  transition: all 0.3s;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: rgb(238, 68, 68);
  border-radius: 20px;
}

input[type="range"]:focus,
input:focus,
select:focus {
  outline: none;
}
